@model NetworkProject.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FacultyHome</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#598aa8; color: white;">
    <div class="container">
        <div class="row">
            <h1 class="display-1 text-center"> Welcome Back @Session["name"] @Session["lastName"] </h1>
            <h3 class="display-1 text-center"> @DateTime.Now.ToShortDateString() </h3>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <iframe src="@Url.Action("ManageCourseParticipants","Faculty")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("ManageCourseParticipants","Faculty")" target="_self" style="color: white"> Full Manage Course Participants </a>
            </div>
            <br />
            <div class="col-4">
                <iframe src="@Url.Action("ManageCourseSchedule","Faculty")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("ManageCourseSchedule","Faculty")" target="_self" style="color: white"> Full Manage Course Schedule </a>
            </div>
            <br />
            <div class="col-4">
                <iframe src="@Url.Action("InsertGrades","Faculty")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("InsertGrades","Faculty")" target="_self" style="color: white"> Full Insert\Update Grade </a>
            </div>
            <br />
            <div class="col-4">
                <iframe src="@Url.Action("ManageExams","Faculty")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("ManageExams","Faculty")" target="_self" style="color: white"> Full Insert\Update Exam </a>
            </div>
            <br />
            <div class="col-4">
                <iframe src="@Url.Action("CoursesStudentsGrades","Faculty")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("CoursesStudentsGrades","Faculty")" target="_self" style="color: white"> Full Helpful Data </a>
            </div>
            <br />
            <div class="col-4">
                <iframe src="@Url.Action("Chat","Chat")" style="width:100%; height:250px; border: 1px solid #17252A;">
                    <p> Your Browser doesnt support iframe please change browser</p>
                </iframe>
                <br />
                <a href="@Url.Action("Chat","Chat")" target="_self" style="color: white"> Full Chat </a>
            </div>
            <br />
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
