@model NetworkProject.Models.Exam

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageExams</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="display-1 text-center"> Exams Managment</h1>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6" style="border:solid 1px #17252A; border-radius: 5px; background-color:#FEFFFF;">
                <h3> Change\Add exam Schedule </h3>
                <hr />
                <form action="SubmitExam" method="post" style="width:100%;">
                    <p> For Identification </p>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.courseId, new { Class = "form-control", Style = "min-width:100%;", placeholder = "Course ID", Value = Model.courseId })
                        @Html.ValidationMessageFor(y => y.courseId, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.courseName, new { Class = "form-control", Style = "min-width:100%;", placeholder = "Course Name", Value = Model.courseName })
                        @Html.ValidationMessageFor(y => y.courseName, "", new { Style = "color: red;" })
                    </div>
                    <p>Change Course Info</p>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.moed, new { Class = "form-control", Style = "min-width:100%;", placeholder = "Moed", Value = Model.moed })
                        @Html.ValidationMessageFor(y => y.moed, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.date, new { Class = "form-control", Style = "min-width:100%;", placeholder = "DD/MM/YYYY", Value = Model.date.ToShortDateString() })
                        @Html.ValidationMessageFor(y => y.date, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.startTime, new { Class = "form-control", Style = "min-width:100%;", placeholder = "Start Time", Value = Model.startTime })
                        @Html.ValidationMessageFor(y => y.startTime, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.endTime, new { Class = "form-control", Style = "min-width:100%;", placeholder = "End Time", Value = Model.endTime })
                        @Html.ValidationMessageFor(y => y.endTime, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.className, new { Class = "form-control", Style = "min-width:100%;", placeholder = "Class Name", Value = Model.className })
                        @Html.ValidationMessageFor(y => y.className, "", new { Style = "color: red;" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change\Add Exam" class="btn btn-primary btn-block" style="min-width:100%;" />
                    </div>
                    <div>
                        @if (TempData["msg"] != null)
                        {
                            <p style="color:red;"> @TempData["msg"] </p>
                        }
                        @if (TempData["goodMsg"] != null)
                        {
                            <p class="text-success"> @TempData["goodMsg"] </p>
                        }
                    </div>
                </form>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>